version: '3'

services:
  iiif-static-choices:
    build:
      context: .
      dockerfile: Dockerfile.main
    ports:
      - "8000:8000"  # Puerto para el visor IIIF
      - "8080:8080"  # Puerto para la interfaz web
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    command: bash -c "ln -sf /app/data/viewers /app/viewers && ln -sf /app/data/public /app/public && cd /app/docker-gui/web-interface && npm start & sleep 5 && cd /app && python /app/data/server.py 8000"
