---
full_shelfmark: "<shelfmake>"
summary: "<summary>"
object_id: "<object-id>"
object_label: "<object-label>"
provider_id: "<provider-id>"
provider_name: "<provider-name>"
logo_image_id: "<example-logo>"
language: "<language-iso-code>"
thumbnail_image_id: "<thumbnail-image-id>"
html_terms: "<span>Terms of use</span>"
range: "<range>"

metadata:
  Title: "<title>"
  Shelfmark: "<shelfmark>"
  Description: "<description>"

part_of:
  fossils: "<collection-id>"

items:
  canvas_id: "<canvas-id>"
  folio: "<folio-name>"
  preferred_image: "<preferred-image.png>" # can be png, jpg, or webp format
  images:
    - image_id: "<image-id>"
      map_type: "albedo"
    - image_id: "<image-id>"
      map_type: "normal"
